body {
    background-color: #DFE3BA;
    font: verdana;
    /*color: #555753; */
}

header {
    /*background: #1D5F72;*/
    /*color: #FAFBFA;*/
}
ul{
  list-style-type: none;
  background-color: #DFE3BA;
  padding-left: 0;
}

li:hover{
    background-color: #ead6b7;
}

/*form {
    padding-left: 40px;
}*/

.search-item {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    /*outline: 1px solid #aaa;*/
    padding: 5px;
}

.detail-view {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.food-detail {
    background: #fff;
    margin-left: 5px;
    width: 450px;
    float: left;
    padding: 5px;
}

#serving-size { 
    width: 30px;
}
.food-container {
    /*outline: 1px solid #aaa;*/
    width: 450px;
    background-color: #fff;
    float: left;
    margin: 5px;
    padding: 5px;
}

.food-container button {
    float: right;
    vertical-align: middle;
    margin: 0;
}
