body {
    background-color: #E5EDE8;
    font: verdana;
    /*color: #555753; */
}

header {
    background: #34696B;
    color: #fff;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li:hover {
    background-color: #ead6b7;
}

.search-item {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    /*outline: 1px solid #aaa;*/

    margin: 5px 0 5px 0;
    padding: 5px;
    background-color: #B9D1C2;
}

.food-detail {
    background: #fff;
    margin: 5px;
    padding: 5px;
    border-radius:10px;
}

.detail-wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

#serving-size { 
    width: 30px;
}

.food-container {
    background-color: #fff;
    margin: 5px;
    padding: 5px;
    border-radius:10px;
}

.destroy {
    float: right;
}
