body {
    background-color: #eee;
}

header {
    background: #b3b3b3
}
ul{
  list-style-type: none;
}

form {
    padding-left: 40px;
}

.search-item {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.food-container {
    /*outline: 1px solid #aaa;*/
    width: 350px;
    height: 80px;
    background-color: #fff;
    float: left;
    margin: 5px;
    padding: 5px;
}

.food-container button {
    float: right;
    vertical-align: middle;
    margin: 0;
}

#serving-size { 
    width: 30px;
}
