<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My Project 5.2 Health Tracker</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <header id="header">
    <h1 class="text-center text-thin">Health Tracker</h1>
    <h3 id="total" class="text-center">Total Input Today: <span>0</span> Calories</h3>
  </header>
  <section id="mytracker" class="container">
    <div class="row">
      <div id="search-div" class="col-md-6 col-sm-6 col-xs-12">
        <form id="search-bar" class="form-inline">
          <input type="text" id="search-input" class="form-control" placeholder="Heathy?" autofocus>
          <button type="submit" class="search-btn btn btn-default">Search</button>
        </form>        
      </div>
    
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="food-detail hidden">
          <div class="row detail-wrap">
            <div class="col-xs-9">
              <h4 class="detail-name">Food name</h4>
              <h5 class="detail-brand"></h5>
            </div>
            <div class="col-xs-3 text-right">
              <span class="detail-cal"></span>
              <small>Calories</small>
            </div>
          </div>
          <div class="row">
            <form class="form-inline col-xs-6">
              <label for="serving-size">Servings: </label>
              <input type="text" id="serving-size" value="1">
            </form>
            <div class="col-xs-6 text-right">
              <p class="sub-total"><strong>Sub Total: </strong><span>0</span><small> Calories</small></p>
            </div>
          </div>
          <button class="add-btn btn btn-primary hidden">Add</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12"><ul id="search-results"></ul></div>
      <div class="col-md-6 col-sm-6 col-xs-12"><ul id="food-list"></ul></div>
    </div>
  </section>

  <script type="text/template" id="food-item">
    <p><h4><%= title %></h4></p>
    <div class="row">
      <div class="col-xs-9">
        <span>Servings: <%= quantity %></span>
        <p>Calorie: <%= calorie %></p>
      </div>
      <div class="col-xs-3">
        <button class="destroy btn btn-danger btn-sm">Delete</button>
      </div>
    </div>
  </script>

  <script type="text/template" id="search-template">
    <li class="search-item">
      <div class="col-xs-9">
        <h4><%= name %></h4>
        <h5><%= brand %></h5>
      </div>
      <div class="col-xs-3 text-right">
        <span><%= calories %></span><br>
        <small>Calories</small>
      </div>
    </li>
  </script>

  <script src="js/lib/underscore-min.js"></script>
  <script src="js/lib/jquery.min.js"></script>
  <script src="js/lib/backbone-min.js"></script>
  <script src="js/lib/backbone.localStorage-min.js"></script>

  <script src="js/models/food.js"></script>
  <script src="js/models/result.js"></script>
  <script src="js/collections/foods.js"></script>
  <script src="js/collections/search-results.js"></script>
  <script src="js/views/view-food.js"></script>
  <script src="js/views/view-app.js"></script>
  <script src="js/views/view-search.js"></script>
  <script src="js/app.js"></script>
</body>
</html>